@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility custom-scrollbar {
	&::-webkit-scrollbar-track {
		background: var(--color-slate-900);
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color-slate-600);
	}
}

@layer components {
	.todo {
		@apply inline-flex items-center rounded-full border bg-blue-50 px-2 py-1 text-xs text-blue-600 ring-1 ring-blue-200/10;
	}
	.in-progress {
		@apply inline-flex items-center rounded-full border bg-yellow-50 px-2 py-1 text-xs text-yellow-600 ring-1 ring-yellow-200/10;
	}
	.done {
		@apply inline-flex items-center rounded-full border bg-green-50 px-2 py-1 text-xs text-green-600 ring-1 ring-green-200/10;
	}
}
